/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import '~@angular/material/theming';

@include mat-core();

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($theme);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);

.mat-divider.mat-divider-vertical {
  position: unset !important;
  height: 100%;
}

*[hidden] {
  display: none !important;
}

@for $i from 0 through 20 {
  .opacity-#{$i*5} {
    opacity: $i * 5/100;
  }
}

$_mat-checkbox-ripple-radius: 20px;

mat-checkbox {
  .mat-checkbox-layout {
    height: $_mat-checkbox-ripple-radius * 2 !important;
  }

  .mat-checkbox-label {
    height: 100%;
  }
}